https://squared2020.com/2017/11/09/bradley-terry-rankings-introduction-to-logistic-regression/

In [6]:
import pandas as pd
import numpy as np

mat = [
    [np.nan, 7, 9, 7, 7, 9, 11],
    [6, np.nan, 7, 5, 11, 9, 9],
    [4, 6, np.nan, 7, 7, 8, 12],
    [6, 8, 6, np.nan, 6, 7, 10],
    [6, 2, 6, 7, np.nan, 7, 12],
    [4, 4, 5, 6, 6, np.nan, 6],
    [2, 4, 1, 3, 1, 7, np.nan]
]

teams = ['Milwaukee', 'Detroit', 'Toronto', 'New York', 'Boston', 'Cleveland', 'Baltimore']
t2i = {t: i for i, t in enumerate(teams)}

df = pd.DataFrame(mat, columns=teams, index=teams)
df

           Milwaukee  Detroit  Toronto  New York  Boston  Cleveland  Baltimore
Milwaukee        NaN      7.0      9.0       7.0     7.0        9.0       11.0
Detroit          6.0      NaN      7.0       5.0    11.0        9.0        9.0
Toronto          4.0      6.0      NaN       7.0     7.0        8.0       12.0
New York         6.0      8.0      6.0       NaN     6.0        7.0       10.0
Boston           6.0      2.0      6.0       7.0     NaN        7.0       12.0
Cleveland        4.0      4.0      5.0       6.0     6.0        NaN        6.0
Baltimore        2.0      4.0      1.0       3.0     1.0        7.0        NaN

In [9]:
df.sum().sum()

273.0

In [17]:
n_teams = len(teams)
n_games = int(df.sum().sum())

X = np.zeros((n_games, n_teams))
y = np.zeroes(n_games)

g = 0

for i, t1 in enumerate(df.index):
    for j, t2 in enumerate(df.columns):
        if i == j:
            continue
        n = int(df.loc[t1].loc[t2])
        
        for _ in range(n):
            X[g, i] = 1
            X[g, j] = -1
            y[g] = 
            g += 1

In [21]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])