https://homepage.divms.uiowa.edu/~luke/xls/glim/glim/node8.html

In [16]:
import pandas as pd
import numpy as np

mat = [
    [np.nan, 7, 9, 7, 7, 9, 11],
    [6, np.nan, 7, 5, 11, 9, 9],
    [4, 6, np.nan, 7, 7, 8, 12],
    [6, 8, 6, np.nan, 6, 7, 10],
    [6, 2, 6, 7, np.nan, 7, 12],
    [4, 4, 5, 6, 6, np.nan, 6],
    [2, 4, 1, 3, 1, 7, np.nan]
]

teams = ['Milwaukee', 'Detroit', 'Toronto', 'New York', 'Boston', 'Cleveland', 'Baltimore']

df = pd.DataFrame(mat, columns=teams, index=teams)
df

           Milwaukee  Detroit  Toronto  New York  Boston  Cleveland  Baltimore
Milwaukee        NaN      7.0      9.0       7.0     7.0        9.0       11.0
Detroit          6.0      NaN      7.0       5.0    11.0        9.0        9.0
Toronto          4.0      6.0      NaN       7.0     7.0        8.0       12.0
New York         6.0      8.0      6.0       NaN     6.0        7.0       10.0
Boston           6.0      2.0      6.0       7.0     NaN        7.0       12.0
Cleveland        4.0      4.0      5.0       6.0     6.0        NaN        6.0
Baltimore        2.0      4.0      1.0       3.0     1.0        7.0        NaN

In [17]:
wins = list(filter(lambda v: pd.notna(v) and v > 0, np.ravel(np.tril(df))))

In [18]:
losses = list(filter(lambda v: pd.notna(v) and v > 0, np.ravel(np.tril(df.T))))

In [62]:
n_teams = len(teams)
indices = list(product(teams, teams))
indices = [indices[i:i+n_teams] for i in range(0, len(indices), n_teams)]
indices = filter(lambda v: v != 0, np.ravel(np.tril(pd.DataFrame(indices))))
indices = filter(lambda tup: tup[0] != tup[1], indices)
indices = list(indices)

index=pd.MultiIndex.from_tuples(indices, names=['TeamW', 'TeamL'])

In [64]:
c2i = {c: i for i, c in enumerate(teams)}
ohe = pd.DataFrame([[1 if i == c2i[c1] else 0 for i in range(n_teams)] for c1, c2 in indices], 
                   columns=teams,
                   index=index)
ohe

                     Milwaukee  Detroit  Toronto  New York  Boston  Cleveland  \
TeamW     TeamL
Detroit   Milwaukee          0        1        0         0       0          0
Toronto   Milwaukee          0        0        1         0       0          0
          Detroit            0        0        1         0       0          0
New York  Milwaukee          0        0        0         1       0          0
          Detroit            0        0        0         1       0          0
          Toronto            0        0        0         1       0          0
Boston    Milwaukee          0        0        0         0       1          0
          Detroit            0        0        0         0       1          0
          Toronto            0        0        0         0       1          0
          New York           0        0        0         0       1          0
Cleveland Milwaukee          0        0        0         0       0          1
          Detroit            0        0        0         0       0          1
          Toronto            0        0        0         0       0          1
          New York           0        0        0         0       0          1
          Boston             0        0        0         0       0          1
Baltimore Milwaukee          0        0        0         0       0          0
          Detroit            0        0        0         0       0          0
          Toronto            0        0        0         0       0          0
          New York           0        0        0         0       0          0
          Boston             0        0        0         0       0          0
          Cleveland          0        0        0         0       0          0

                     Baltimore
TeamW     TeamL
Detroit   Milwaukee          0
Toronto   Milwaukee          0
          Detroit            0
New York  Milwaukee          0
          Detroit            0
          Toronto            0
Boston    Milwaukee          0
          Detroit            0
          Toronto            0
          New York           0
Cleveland Milwaukee          0
          Detroit            0
          Toronto            0
          New York           0
          Boston             0
Baltimore Milwaukee          1
          Detroit            1
          Toronto            1
          New York           1
          Boston             1
          Cleveland          1

In [74]:
wl = pd.DataFrame({'w': wins, 'l': losses}, index=pd.MultiIndex.from_tuples(indices, names=['TeamW', 'TeamL']))
wl['y'] = wl.apply(lambda r: 1 if r.w - r.l > 0 else 0, axis=1)
wl

                       w     l  y
TeamW     TeamL
Detroit   Milwaukee  6.0   7.0  0
Toronto   Milwaukee  4.0   9.0  0
          Detroit    6.0   7.0  0
New York  Milwaukee  6.0   7.0  0
          Detroit    8.0   5.0  1
          Toronto    6.0   7.0  0
Boston    Milwaukee  6.0   7.0  0
          Detroit    2.0  11.0  0
          Toronto    6.0   7.0  0
          New York   7.0   6.0  1
Cleveland Milwaukee  4.0   9.0  0
          Detroit    4.0   9.0  0
          Toronto    5.0   8.0  0
          New York   6.0   7.0  0
          Boston     6.0   7.0  0
Baltimore Milwaukee  2.0  11.0  0
          Detroit    4.0   9.0  0
          Toronto    1.0  12.0  0
          New York   3.0  10.0  0
          Boston     1.0  12.0  0
          Cleveland  7.0   6.0  1

In [75]:
data = wl.join(ohe).drop(columns=['w', 'l', 'Milwaukee'])
data

                     y  Detroit  Toronto  New York  Boston  Cleveland  \
TeamW     TeamL
Detroit   Milwaukee  0        1        0         0       0          0
Toronto   Milwaukee  0        0        1         0       0          0
          Detroit    0        0        1         0       0          0
New York  Milwaukee  0        0        0         1       0          0
          Detroit    1        0        0         1       0          0
          Toronto    0        0        0         1       0          0
Boston    Milwaukee  0        0        0         0       1          0
          Detroit    0        0        0         0       1          0
          Toronto    0        0        0         0       1          0
          New York   1        0        0         0       1          0
Cleveland Milwaukee  0        0        0         0       0          1
          Detroit    0        0        0         0       0          1
          Toronto    0        0        0         0       0          1
          New York   0        0        0         0       0          1
          Boston     0        0        0         0       0          1
Baltimore Milwaukee  0        0        0         0       0          0
          Detroit    0        0        0         0       0          0
          Toronto    0        0        0         0       0          0
          New York   0        0        0         0       0          0
          Boston     0        0        0         0       0          0
          Cleveland  1        0        0         0       0          0

                     Baltimore
TeamW     TeamL
Detroit   Milwaukee          0
Toronto   Milwaukee          0
          Detroit            0
New York  Milwaukee          0
          Detroit            0
          Toronto            0
Boston    Milwaukee          0
          Detroit            0
          Toronto            0
          New York           0
Cleveland Milwaukee          0
          Detroit            0
          Toronto            0
          New York           0
          Boston             0
Baltimore Milwaukee          1
          Detroit            1
          Toronto            1
          New York           1
          Boston             1
          Cleveland          1

In [76]:
X, y = data[[c for c in data.columns if c != 'y']], data['y']

In [77]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(penalty='l1', solver='liblinear', fit_intercept=False)
model.fit(X, y)

LogisticRegression(fit_intercept=False, penalty='l1', solver='liblinear')

In [81]:
list(zip(X.columns, model.coef_[0]))

[('Detroit', 0.0),
 ('Toronto', 0.0),
 ('New York', 0.0),
 ('Boston', 0.0),
 ('Cleveland', -1.3862682014774022),
 ('Baltimore', -0.6931471784024834)]