In [1]:
from pybbn.probabilistic import create_reasoning_model

def get_model():
    d = {
        'nodes': ['A', 'B', 'C'],
        'edges': [('A', 'B'), ('B', 'C')]
    }
    
    p = {
        'A': {
            'columns': ['A', '__p__'],
            'data': [
                ['t', 0.20], ['f', 0.80]
            ]
        },
        'B': {
            'columns': ['A', 'B', '__p__'],
            'data': [
                ['f', 'f', 0.90],
                ['f', 't', 0.10],
                ['t', 'f', 0.10],
                ['t', 't', 0.90]
            ]
        },
        'C': {
            'columns': ['B', 'C', '__p__'],
            'data': [
                ['f', 'f', 0.60],
                ['f', 't', 0.40],
                ['t', 'f', 0.40],
                ['t', 't', 0.60]
            ]
        }
    }
    
    model = create_reasoning_model(d, p)
    return model

model = get_model()

In [2]:
q = model.pquery()

In [3]:
q['A']

   A  __p__
0  f    0.8
1  t    0.2

In [4]:
q['B']

   B  __p__
0  f   0.74
1  t   0.26

In [5]:
q['C']

   C  __p__
0  f  0.548
1  t  0.452

In [8]:
from pybbn.counterfactual import get_scm_dp

def get_scm_model(method):
    d, p = get_scm_dp('B', model, method=method)
    m = create_reasoning_model(d, p)
    return m

v_model = get_scm_model('vi')
r_model = get_scm_model('random')
k_model = get_scm_model('kmeans')

In [26]:
v_model.node_potentials['B']

    A __u__  B  __p__
0   f    u0  f    1.0
1   f    u0  t    0.0
2   f    u1  f    0.0
3   f    u1  t    1.0
4   f    u2  f    0.0
5   f    u2  t    0.0
6   f    u3  f    0.0
7   f    u3  t    0.0
8   t    u0  f    0.0
9   t    u0  t    0.0
10  t    u1  f    0.0
11  t    u1  t    0.0
12  t    u2  f    1.0
13  t    u2  t    0.0
14  t    u3  f    0.0
15  t    u3  t    1.0

In [27]:
r_model.node_potentials['B']

   A __u__  B     __p__
0  f    u0  f  0.748176
1  f    u0  t  0.251824
2  f    u1  f  0.742993
3  f    u1  t  0.257007
4  t    u0  f  0.722277
5  t    u0  t  0.277723
6  t    u1  f  0.753465
7  t    u1  t  0.246535

In [28]:
k_model.node_potentials['B']

   A __u__  B  __p__
0  f    u0  f    0.0
1  f    u0  t    1.0
2  f    u1  f    1.0
3  f    u1  t    0.0
4  t    u0  f    0.0
5  t    u0  t    1.0
6  t    u1  f    1.0
7  t    u1  t    0.0

In [19]:
v_model.pquery(evidences=v_model.e({'A': 'f'}))

{'A':    A  __p__
 0  f    1.0
 1  t    0.0,
 'B':    B     __p__
 0  f  0.745578
 1  t  0.254422,
 '__u__':   __u__     __p__
 0    u0  0.745578
 1    u1  0.254422
 2    u2  0.000000
 3    u3  0.000000}

In [23]:
r_model.pquery(evidences=r_model.e({'A': 't'}))

{'A':    A  __p__
 0  f    0.0
 1  t    1.0,
 'B':    B    __p__
 0  f  0.73789
 1  t  0.26211,
 '__u__':   __u__   __p__
 0    u0  0.4994
 1    u1  0.5006}

In [25]:
k_model.pquery(evidences=k_model.e({'A': 'f'}))

{'A':    A  __p__
 0  f    1.0
 1  t    0.0,
 'B':    B  __p__
 0  f  0.744
 1  t  0.256,
 '__u__':   __u__  __p__
 0    u0  0.256
 1    u1  0.744}

In [6]:
a_model = model.scm_equation('A')
b_model = model.scm_equation('B')
c_model = model.scm_equation('C')

In [7]:
a_model.pquery()

{'A':    A   __p__
 0  f  0.7971
 1  t  0.2029,
 '__u__':   __u__   __p__
 0    u0  0.7971
 1    u1  0.2029}

In [8]:
b_model.pquery()

{'A':    A     __p__
 0  f  0.939148
 1  t  0.060852,
 'B':    B     __p__
 0  f  0.745105
 1  t  0.254895,
 '__u__':   __u__     __p__
 0    u0  0.700208
 1    u1  0.238940
 2    u2  0.044896
 3    u3  0.015955}

In [9]:
c_model.pquery()

{'B':    B     __p__
 0  f  0.894138
 1  t  0.105862,
 'C':    C     __p__
 0  f  0.549723
 1  t  0.450277,
 '__u__':   __u__     __p__
 0    u0  0.490094
 1    u1  0.404045
 2    u2  0.059630
 3    u3  0.046232}

In [15]:
b_model.node_potentials

{'A':    A   __p__
 0  f  0.7971
 1  t  0.2029,
 'B':     A __u__  B  __p__
 0   f    u0  f    1.0
 1   f    u0  t    0.0
 2   f    u1  f    0.0
 3   f    u1  t    1.0
 4   f    u2  f    0.0
 5   f    u2  t    0.0
 6   f    u3  f    0.0
 7   f    u3  t    0.0
 8   t    u0  f    0.0
 9   t    u0  t    0.0
 10  t    u1  f    0.0
 11  t    u1  t    0.0
 12  t    u2  f    1.0
 13  t    u2  t    0.0
 14  t    u3  f    0.0
 15  t    u3  t    1.0,
 '__u__':   __u__   __p__
 0    u0  0.5943
 1    u1  0.2028
 2    u2  0.1497
 3    u3  0.0532}

In [12]:
b_model.pquery(evidences=b_model.e({'A': 't'}))

{'A':    A  __p__
 0  f    0.0
 1  t    1.0,
 'B':    B     __p__
 0  f  0.737802
 1  t  0.262198,
 '__u__':   __u__     __p__
 0    u0  0.000000
 1    u1  0.000000
 2    u2  0.737802
 3    u3  0.262198}

In [13]:
b_model.pquery(evidences=b_model.e({'A': 'f'}))

{'A':    A  __p__
 0  f    1.0
 1  t    0.0,
 'B':    B     __p__
 0  f  0.745578
 1  t  0.254422,
 '__u__':   __u__     __p__
 0    u0  0.745578
 1    u1  0.254422
 2    u2  0.000000
 3    u3  0.000000}

In [17]:
q = b_model.pquery(evidences=b_model.e({'A': 't'}))

e = b_model.e({'A': 'f'})
e['__u__'] = q['__u__'] \
            .assign(**{'__p__': lambda d: d['__p__'] + 0.001}) \
            .assign(**{'__p__': lambda d: d['__p__'] / d['__p__'].sum()})

b_model.pquery(evidences=e)

{'A':    A  __p__
 0  f    1.0
 1  t    0.0,
 'B':    B     __p__
 0  f  0.745578
 1  t  0.254422,
 '__u__':   __u__     __p__
 0    u0  0.745578
 1    u1  0.254422
 2    u2  0.000000
 3    u3  0.000000}

In [18]:
c_model.node_potentials

{'B':    B  __p__
 0  f  0.744
 1  t  0.256,
 'C':     B __u__  C  __p__
 0   f    u0  f    1.0
 1   f    u0  t    0.0
 2   f    u1  f    0.0
 3   f    u1  t    1.0
 4   f    u2  f    0.0
 5   f    u2  t    0.0
 6   f    u3  f    0.0
 7   f    u3  t    0.0
 8   t    u0  f    0.0
 9   t    u0  t    0.0
 10  t    u1  f    0.0
 11  t    u1  t    0.0
 12  t    u2  f    1.0
 13  t    u2  t    0.0
 14  t    u3  f    0.0
 15  t    u3  t    1.0,
 '__u__':   __u__   __p__
 0    u0  0.4078
 1    u1  0.3362
 2    u2  0.1442
 3    u3  0.1118}