# State Population

- [Population Data](https://www.populationu.com/gen/us-states-by-population)

In [1]:
import pandas as pd

df = pd.read_csv('./state-population.tsv', 
            sep='\t', header=None, 
            names=['name', '2020', '2010', 'pct'])
df['2020'] = df['2020'].apply(lambda v: int(v.replace(',', '')))
df['2010'] = df['2010'].apply(lambda v: int(v.replace(',', '')))
df['pct'] = df['pct'].apply(lambda v: float(v.replace('%', '')) / 100.0)
df.index = df['name']
df = df.drop(columns=['name'])

df.head()

                  2020      2010     pct
name
California    39538223  37253956  0.1180
Texas         29145505  25145561  0.0870
Florida       21538187  18801310  0.0643
New York      20201249  19378102  0.0603
Pennsylvania  13002700  12702379  0.0388

In [2]:
ab = pd.read_csv('./state-abbreviation.csv')
ab.index = ab['name']
ab = ab.drop(columns=['name'])

In [3]:
ab.head()

               abbreviation
name
Alabama                  AL
Alaska                   AK
American Samoa           AS
Arizona                  AZ
Arkansas                 AR

In [4]:
df.shape, ab.shape

((51, 3), (59, 1))

In [5]:
final_df = df.join(ab, how='left')\
    .reset_index()[['name', 'abbreviation', '2020', '2010']]\
    .rename(columns={'name': 'state'})

final_df.to_csv('./state-population.csv', index=False)
final_df.head()

          state abbreviation      2020      2010
0    California           CA  39538223  37253956
1         Texas           TX  29145505  25145561
2       Florida           FL  21538187  18801310
3      New York           NY  20201249  19378102
4  Pennsylvania           PA  13002700  12702379